<launch>
  <node name="Capitan" pkg="sandbox" type="coursedata2.py" output="screen"/>
  <node name="SailControler" pkg="sandbox" type="sailfuzzy.py" output="screen"/>
  <node name="RudderControler" pkg="sandbox" type="rudderfuzzy.py" output="screen"/>
  <node name="Model" pkg="sandbox" type="Obiekt4.py" output="screen"/>
  <node name="Screen" pkg="sandbox" type="plotdata.py" output="screen"/>
</launch>