<launch>
  <node name="symCapitan" pkg="sandbox" type="symCapitan.py" output="screen"/>
  <node name="SailControler" pkg="sandbox" type="sailfuzzyR.py" output="screen"/>
  <node name="RudderControler" pkg="sandbox" type="rudderfuzzy.py" output="screen"/>
  <node name="Model" pkg="sandbox" type="Obiekt5.py" output="screen"/>
  <node name="symScreen" pkg="sandbox" type="symPlotdata.py" output="screen"/>
  <node name="symPathPlanner" pkg="sandbox" type="symPathPlanner.py" output="screen"/>
  <node name="symWaypoints" pkg="sandbox" type="symWaypoints.py" output="screen"/>
</launch>